<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Template - {% block title %}{% endblock %}
    </Template></title>
</head>
<body>
    <!-- <a href="/">Home</a> |
    <a href="/about">About</a> |
    <a href="/favorite/foods">Favorite Foods</a> |
    <a href="/favorite/sports">Favorite Sports</a> | -->
    <a href="{{ url_for('index') }}">Home</a> |
    <a href="{{ url_for('about') }}">About</a> |
    <a href="{{ url_for('favorite_foods') }}">Favorite Foods</a> |
    <a href="{{ url_for('favorite_sports')}}">Favorite Sports</a> |
    <a href="{{ url_for('favorite_movies')}}">Favorite Movies</a> |
    {% block content %}{% endblock %}
    
    
</body>
</html>